.cuenta-instance {
  height: 322px !important;
  width: 387px !important;
}

.design-component-instance-node {
  border-radius: 5.62px !important;
  height: 322px !important;
  width: 387px !important;
}

.cuenta-2 {
  height: 263px !important;
  left: 34px !important;
  top: 34px !important;
  width: 327px !important;
}

.cuenta-3 {
  height: 112.5px !important;
  width: 112.5px !important;
}

.cuenta-4 {
  font-size: 13.5px !important;
  height: 15px !important;
  left: 181px !important;
  top: 76px !important;
}

.cuenta-5 {
  height: 146.25px !important;
}

.cuenta-6 {
  font-size: 13.5px !important;
  margin-top: -1.12px !important;
}

.cuenta-7 {
  border-radius: 28.12px !important;
}

.cuenta-8 {
  font-size: 13.5px !important;
  height: 22.5px !important;
  margin-top: -1.12px !important;
}

.cuenta-9 {
  border-radius: 28.12px !important;
  height: 22.5px !important;
}

.cuenta-10 {
  height: 34px !important;
  left: 294px !important;
  width: 34px !important;
}

.cuenta-11 {
  height: 34px !important;
  left: 353px !important;
  width: 34px !important;
}
