.cuenta-instance {
  height: 572px !important;
  width: 688px !important;
}

.cuenta-2 {
  border-radius: 10px !important;
  height: 572px !important;
  width: 688px !important;
}

.cuenta-3 {
  height: 468px !important;
  left: 60px !important;
  top: 60px !important;
  width: 582px !important;
}

.cuenta-4 {
  height: 200px !important;
  width: 200px !important;
}

.cuenta-5 {
  font-size: 24px !important;
  height: 27px !important;
  left: 322px !important;
  top: 136px !important;
}

.cuenta-6 {
  height: 260px !important;
}

.cuenta-7 {
  font-size: 24px !important;
  margin-top: -2px !important;
}

.cuenta-8 {
  border-radius: 50px !important;
}

.cuenta-9 {
  font-size: 24px !important;
  height: 40px !important;
  margin-top: -2px !important;
}

.cuenta-10 {
  border-radius: 50px !important;
  height: 40px !important;
}

.cuenta-11 {
  height: 60px !important;
  left: 522px !important;
  width: 60px !important;
}

.cuenta-12 {
  height: 60px !important;
  left: 628px !important;
  width: 60px !important;
}
