.screen-4 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-4 .frame-desktop-5 {
  background-color: #ffffff;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.screen-4 .card-desktop-9 {
  height: 206px !important;
  left: 470px !important;
  position: absolute !important;
  top: 351px !important;
  width: 414px !important;
}

.screen-4 .card-desktop-10 {
  left: 2014px !important;
  top: 128px !important;
}

.screen-4 .card-desktop-11 {
  height: 206px !important;
  left: 471px !important;
  position: absolute !important;
  top: 587px !important;
  width: 414px !important;
}

.screen-4 .card-desktop-12 {
  left: 2013px !important;
  top: -108px !important;
}

.screen-4 .overlap-7 {
  height: 206px;
  left: 0;
  position: absolute;
  top: 823px;
  width: 1440px;
}

.screen-4 .card-desktop-13 {
  height: 206px !important;
  left: 471px !important;
  position: absolute !important;
  top: 0 !important;
  width: 414px !important;
}

.screen-4 .card-desktop-14 {
  left: 2013px !important;
  top: -344px !important;
}

.screen-4 .card-desktop-15 {
  height: 206px !important;
  left: 924px !important;
  position: absolute !important;
  top: 0 !important;
  width: 414px !important;
}

.screen-4 .card-desktop-16 {
  left: 1560px !important;
  top: -344px !important;
}

.screen-4 .footer-13 {
  background-color: transparent !important;
  gap: 20px !important;
  height: 104px !important;
  left: 0 !important;
  position: absolute !important;
  top: 97px !important;
  width: 1440px !important;
}

.screen-4 .footer-14 {
  gap: 16px !important;
  height: 42px !important;
  left: 450px !important;
  top: 32px !important;
}

.screen-4 .footer-15 {
  margin-right: -2033.5px !important;
  margin-top: -466.5px !important;
  object-fit: unset !important;
}

.screen-4 .footer-16 {
  font-size: 24px !important;
}

.screen-4 .card-desktop-17 {
  height: 206px !important;
  left: 923px !important;
  position: absolute !important;
  top: 351px !important;
  width: 414px !important;
}

.screen-4 .card-desktop-18 {
  left: 1561px !important;
  top: 128px !important;
}

.screen-4 .card-desktop-19 {
  height: 206px !important;
  left: 924px !important;
  position: absolute !important;
  top: 587px !important;
  width: 414px !important;
}

.screen-4 .card-desktop-20 {
  left: 1560px !important;
  top: -108px !important;
}

.screen-4 .nav-10 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 100px;
  justify-content: center;
  left: 80px;
  position: absolute;
  top: 0;
  width: 1360px;
}

.screen-4 .rectangle-27 {
  align-self: stretch;
  background-color: var(--dark-color);
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.screen-4 .frame-22 {
  height: 45px;
  left: 3479px;
  position: absolute;
  top: 507px;
  width: 270px;
}

.screen-4 .frame-23 {
  align-items: center;
  display: flex;
  height: 45px;
  justify-content: flex-end;
  left: 38px;
  position: absolute;
  top: 28px;
  width: 618px;
}

.screen-4 .rectangle-28 {
  background-color: var(--second-item-color);
  border-radius: 37.5px 0px 0px 37.5px;
  height: 45px;
  position: relative;
  width: 30px;
}

.screen-4 .frame-24 {
  height: 15px;
  left: 2376px;
  position: absolute;
  top: 467px;
  width: 15px;
}

.screen-4 .rectangle-29 {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  margin-bottom: -451.5px;
  margin-right: -2366.5px;
  position: relative;
}

.screen-4 .text-wrapper-28 {
  color: #000000;
  font-family: "Comfortaa", Helvetica;
  font-size: 16.5px;
  font-weight: 400;
  left: 39px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 14px;
  white-space: nowrap;
  width: 75px;
}

.screen-4 .menu-3 {
  height: 920px;
  left: 2484px;
  position: absolute;
  top: 478px;
  width: 80px;
}

.screen-4 .filtro-instance {
  height: 330px !important;
  left: 160px !important;
  position: absolute !important;
  top: 350px !important;
  width: 170px !important;
}

.screen-4 .filtro-3 {
  left: 11px !important;
  top: 16px !important;
  width: 91px !important;
}

.screen-4 .filtro-4 {
  left: 20px !important;
  top: 115px !important;
}

.screen-4 .filtro-5 {
  left: 2404px !important;
  top: 34px !important;
}

.screen-4 .filtro-6 {
  display: flex !important;
  height: 50px !important;
  left: 20px !important;
  top: 175px !important;
  width: 130px !important;
}

.screen-4 .filtro-7 {
  left: 2304px !important;
  top: -26px !important;
}

.screen-4 .line-3 {
  height: 1px;
  left: 2824px;
  object-fit: cover;
  position: absolute;
  top: 659px;
  width: 665px;
}

.screen-4 .text-wrapper-29 {
  color: #000000;
  font-family: "Domine", Helvetica;
  font-size: 48px;
  font-weight: 400;
  height: 111px;
  left: 370px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 169px;
  width: 890px;
}
