.screen-14 {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-14 .frame-desktop-14 {
  background-color: #ffffff;
  height: 1024px;
  overflow: hidden;
  position: relative;
  width: 1437px;
}

.screen-14 .footer-52 {
  background-color: transparent !important;
  gap: 20px !important;
  height: 104px !important;
  left: 0 !important;
  position: absolute !important;
  top: 920px !important;
  width: 1440px !important;
}

.screen-14 .footer-53 {
  gap: 16px !important;
  height: 42px !important;
  left: 450px !important;
  top: 32px !important;
}

.screen-14 .footer-54 {
  object-fit: unset !important;
}

.screen-14 .footer-55 {
  font-size: 24px !important;
}

.screen-14 .nav-92 {
  gap: 15px !important;
  height: 100px !important;
  left: 80px !important;
  position: absolute !important;
  top: 0 !important;
  width: 1360px !important;
}

.screen-14 .nav-93 {
  gap: 30px !important;
  left: 1075px !important;
  top: 27px !important;
}

.screen-14 .nav-94 {
  height: 45px !important;
  width: 45px !important;
}

.screen-14 .nav-95 {
  height: 45px !important;
  left: 38px !important;
  top: 27px !important;
  width: 618px !important;
}

.screen-14 .nav-96 {
  border-radius: 37.5px 0px 0px 37.5px !important;
  height: 45px !important;
  width: 30px !important;
}

.screen-14 .nav-97 {
  height: 15px !important;
  left: 9px !important;
  top: 15px !important;
  width: 15px !important;
}

.screen-14 .nav-98 {
  font-size: 16.5px !important;
  left: 39px !important;
  top: 13px !important;
  width: 75px !important;
}

.screen-14 .menu-1 {
  height: 919px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 80px !important;
}

.screen-14 .group-3 {
  height: 492px;
  left: 389px;
  position: absolute;
  top: 187px;
  width: 666px;
}

.screen-14 .text-wrapper-59 {
  color: #000000;
  font-family: "Domine", Helvetica;
  font-size: 48px;
  font-weight: 400;
  height: 84px;
  left: 0;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 0;
  width: 658px;
}

.screen-14 .text-wrapper-60 {
  color: #000000;
  font-family: "Comfortaa", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 26px;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 114px;
  width: 456px;
}

.screen-14 .text-wrapper-61 {
  color: #000000;
  font-family: "Comfortaa", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 30px;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 200px;
  width: 456px;
}

.screen-14 .text-wrapper-62 {
  color: #000000;
  font-family: "Comfortaa", Helvetica;
  font-size: 16px;
  font-weight: 400;
  height: 30px;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 302px;
  width: 541px;
}

.screen-14 .rectangle-39 {
  background-color: var(--second-item-color);
  border-radius: 225px;
  height: 50px;
  left: 4px;
  position: absolute;
  top: 140px;
  width: 650px;
}

.screen-14 .rectangle-40 {
  background-color: var(--second-item-color);
  border-radius: 225px;
  height: 50px;
  left: 4px;
  position: absolute;
  top: 230px;
  width: 650px;
}

.screen-14 .rectangle-41 {
  background-color: var(--second-item-color);
  border-radius: 15px;
  height: 160px;
  left: 4px;
  position: absolute;
  top: 332px;
  width: 650px;
}
