.div-wrapper {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.div-wrapper .frame-mobiles-3 {
  background-color: #ffffff;
  height: 932px;
  position: relative;
  width: 430px;
}

.div-wrapper .nav-11 {
  height: 60px !important;
  left: 60px !important;
  position: absolute !important;
  top: 0 !important;
  width: 370px !important;
}

.div-wrapper .nav-12 {
  left: 130px !important;
  top: 15px !important;
}

.div-wrapper .footer-11 {
  background-color: transparent !important;
  height: 50px !important;
  left: 0 !important;
  position: absolute !important;
  top: 882px !important;
  width: 430px !important;
}

.div-wrapper .footer-12 {
  left: 80px !important;
  top: 15px !important;
}

.div-wrapper .menu-2 {
  height: 60px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 60px !important;
}

.div-wrapper .frame-36 {
  box-shadow: 0px 4px 4px #00000040 !important;
  gap: 6.23px !important;
  height: 21px !important;
  left: 0 !important;
  position: absolute !important;
  top: 91px !important;
  width: 430px !important;
}

.div-wrapper .frame-37 {
  border-radius: 6.23px 0px 6.23px 6.23px !important;
}

.div-wrapper .frame-38 {
  gap: 6.23px !important;
  left: 27px !important;
  top: 5px !important;
  width: 375px !important;
}

.div-wrapper .frame-39 {
  background-color: var(--hover-2) !important;
  border-radius: 3.11px !important;
  gap: 6.23px !important;
}

.div-wrapper .frame-40 {
  height: 9.34px !important;
  width: 9.34px !important;
}

.div-wrapper .frame-41 {
  font-size: 7.5px !important;
}

.div-wrapper .frame-42 {
  border-radius: 3.11px !important;
  gap: 6.23px !important;
}

.div-wrapper .group-6 {
  height: 719px;
  left: 79px;
  position: absolute;
  top: 143px;
  width: 272px;
}

.div-wrapper .frame-43 {
  align-items: flex-start;
  background-color: var(--hover);
  border-radius: 3.2px;
  display: flex;
  flex-direction: column;
  gap: 6.4px;
  height: 135.14px;
  justify-content: center;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 269px;
}

.div-wrapper .rectangle-14 {
  align-self: stretch;
  flex: 1;
  flex-grow: 1;
  object-fit: cover;
  position: relative;
  width: 100%;
}

.div-wrapper .text-wrapper-19 {
  color: var(--dark-text-color);
  font-family: "Comfortaa", Helvetica;
  font-size: 7.7px;
  font-weight: 400;
  left: 24px;
  letter-spacing: 0;
  line-height: 6.4px;
  position: absolute;
  text-align: center;
  top: 71px;
  white-space: nowrap;
}

.div-wrapper .text-wrapper-20 {
  color: var(--dark-text-color);
  font-family: "Domine", Helvetica;
  font-size: 9px;
  font-weight: 400;
  left: 93px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 40px;
  white-space: nowrap;
}

.div-wrapper .frame-44 {
  align-items: flex-start;
  background-color: var(--hover);
  border-radius: 3.2px;
  display: flex;
  flex-direction: column;
  gap: 6.4px;
  height: 135.14px;
  justify-content: center;
  left: 3px;
  opacity: 0.5;
  position: absolute;
  top: 292px;
  width: 269px;
}

.div-wrapper .frame-45 {
  align-items: flex-start;
  background-color: var(--hover);
  border-radius: 3.2px;
  display: flex;
  flex-direction: column;
  gap: 6.4px;
  height: 135.14px;
  justify-content: center;
  left: 3px;
  opacity: 0.5;
  position: absolute;
  top: 584px;
  width: 269px;
}

.div-wrapper .frame-46 {
  align-items: flex-start;
  background-color: var(--hover);
  border-radius: 3.2px;
  display: flex;
  flex-direction: column;
  gap: 6.4px;
  height: 135.14px;
  justify-content: center;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 146px;
  width: 269px;
}

.div-wrapper .frame-47 {
  align-items: flex-start;
  background-color: var(--hover);
  border-radius: 3.2px;
  display: flex;
  flex-direction: column;
  gap: 6.4px;
  height: 135.14px;
  justify-content: center;
  left: 3px;
  opacity: 0.5;
  position: absolute;
  top: 438px;
  width: 269px;
}
