.screen-7 {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen-7 .frame-desktop-8 {
  background-image: url(../../../static/img/image-5.png);
  background-size: 100% 100%;
  height: 1025px;
  width: 1435px;
}

.screen-7 .overlap-group-7 {
  background-image: url(../../../static/img/image-6.png);
  background-size: 100% 100%;
  height: 880px;
  left: 74px;
  position: relative;
  top: 72px;
  width: 1287px;
}

.screen-7 .overlap-15 {
  height: 466px;
  left: 295px;
  position: absolute;
  top: 208px;
  width: 681px;
}

.screen-7 .rectangle-27 {
  -webkit-backdrop-filter: blur(4px) brightness(100%);
  backdrop-filter: blur(4px) brightness(100%);
  background-color: #ffffff;
  height: 466px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 681px;
}

.screen-7 .elementos-log-in-3 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 80px;
  left: 42px;
  position: absolute;
  top: 62px;
  width: 612px;
}

.screen-7 .text-wrapper-32 {
  align-self: stretch;
  color: #000000;
  flex: 1;
  font-family: "Comfortaa", Helvetica;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.screen-7 .rectangle-28 {
  align-self: stretch;
  background-color: var(--second-item-color);
  border-radius: 25px;
  flex: 1;
  flex-grow: 1;
  position: relative;
  width: 100%;
}

.screen-7 .elementos-log-in-4 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 80px;
  left: 42px;
  position: absolute;
  top: 152px;
  width: 612px;
}

.screen-7 .elementos-log-in-5 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 80px;
  left: 42px;
  position: absolute;
  top: 242px;
  width: 612px;
}

.screen-7 .botones-6 {
  display: flex !important;
  height: 36px !important;
  left: 206px !important;
  position: absolute !important;
  top: 361px !important;
  width: 298px !important;
}

.screen-7 .text-wrapper-33 {
  color: #000000;
  font-family: "Domine", Helvetica;
  font-size: 48px;
  font-weight: 400;
  height: 115px;
  left: 231px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 59px;
  width: 825px;
}

.screen-7 .text-wrapper-34 {
  color: var(--dark-text-color);
  font-family: "Comfortaa", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 88px;
  left: 442px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 732px;
  width: 417px;
}
