.rese-a {
  background-color: var(--second-item-color);
  border-radius: 5px;
  height: 213px;
  overflow: hidden;
  position: relative;
  width: 458px;
}

.rese-a .nombre-de-la {
  color: #ffffff;
  font-family: "Domine", Helvetica;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 16px;
  white-space: nowrap;
}

.rese-a .ellipse {
  height: 50px;
  left: 10px;
  object-fit: cover;
  position: absolute;
  top: 10px;
  width: 50px;
}

.rese-a .group {
  height: 30px;
  left: 125px;
  position: absolute;
  top: 160px;
  width: 190px;
}

.rese-a .text-wrapper {
  color: #000000;
  font-family: "Comfortaa", Helvetica;
  font-size: 15px;
  font-weight: 400;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 75px;
  width: 404px;
}

.rese-a .estrellas-instance {
  height: 30px !important;
  left: 0 !important;
  position: absolute !important;
  top: 0 !important;
  width: 30px !important;
}

.rese-a .icon-instance-node {
  height: 30px !important;
  left: 40px !important;
  position: absolute !important;
  top: 0 !important;
  width: 30px !important;
}

.rese-a .estrellas-2 {
  height: 30px !important;
  left: 80px !important;
  position: absolute !important;
  top: 0 !important;
  width: 30px !important;
}

.rese-a .estrellas-3 {
  height: 30px !important;
  left: 120px !important;
  position: absolute !important;
  top: 0 !important;
  width: 30px !important;
}

.rese-a .estrellas-4 {
  height: 30px !important;
  left: 160px !important;
  position: absolute !important;
  top: 0 !important;
  width: 30px !important;
}

.rese-a .default {
  left: 85px;
}

.rese-a .variant-2 {
  left: 32px;
}
